In [159]:
import pandas as pd
import numpy as np

In [160]:
CI = pd.read_csv('..\\data\\raw\\CompanyInfo.csv', 
                 error_bad_lines=True, dtype={
'Organization Name': np.str ,
'Organization Name URL': np.str,
'Founded Date': np.str,
'Founded Date Precision': np.str,
'Announced Date': np.str,
'Announced Date Precision': np.str,
'Acquired by': np.str,
'Acquired by URL': np.str,
'Industry Groups': np.str,
'Industries': np.str,
'Headquarters Location': np.str,
'Headquarters Regions': np.str,
'Number of Founders': np.float64,
'Number of Employees': np.str,
'Number of Articles': np.float64,
'SEMrush - Average Visits (6 months)': np.float64,
'SEMrush - Visit Duration': np.float64,
'SEMrush - Page Views / Visit': np.float64,
'BuiltWith - Active Tech Count': np.float64,
'IPqwery - Patents Granted': np.float64,
'IPqwery - Trademarks Registered': np.float64,
'G2 Stack - Total Products Active': np.float64,
'Aberdeen - IT Spend': np.float64,
'Aberdeen - IT Spend Currency': np.str,
'Aberdeen - IT Spend Currency (in USD)': np.float64,
'Apptopia - Number of Apps': np.float64,
'Apptopia - Downloads Last 30 Days': np.float64,
'Estimated Revenue Range': np.str,
'Number of Funding Rounds': np.float64,
'Funding Status': np.str,
'Last Funding Amount': np.float64,
'Last Funding Amount Currency': np.str,
'Last Funding Amount Currency (in USD)': np.float64,
'Last Funding Type': np.str,
'Last Equity Funding Amount': np.float64,
'Last Equity Funding Amount Currency': np.str,
'Last Equity Funding Amount Currency (in USD)': np.float64,
'Last Equity Funding Type': np.str,
'Total Equity Funding Amount': np.float64,
'Total Equity Funding Amount Currency': np.str,
'Total Equity Funding Amount Currency (in USD)': np.float64,
'Total Funding Amount': np.float64,
'Total Funding Amount Currency': np.str,
'Total Funding Amount Currency (in USD)': np.float64,
'Number of Portfolio Organizations': np.float64,
'Number of Investments': np.float64,
'Number of Lead Investments': np.float64,
'Number of Diversity Investments': np.float64,
'Number of Lead Investors': np.float64,
'Number of Investors': np.float64
}
)

In [161]:
#CI.info()

In [162]:
#CI.columns

In [163]:
CI.columns=['Organization Name',
'Organization Name URL',
'Founded Date',
'Founded Date Precision',
'C_Announced Date',
'C_Announced Date Precision',
'Acquired by',
'Acquired by URL',
'Industry Groups',
'Industries',
'Headquarters Location',
'Headquarters Regions',
'Number of Founders',
'Number of Employees',
'Number of Articles',
'Average Visits (6 months)',
'Visit Duration',
'Page Views / Visit',
'Active Tech Count',
'Patents Granted',
'Trademarks Registered',
'Total Products Active',
'IT Spend',
'IT Spend Currency',
'IT Spend Currency (in USD)',
'Number of Apps',
'Downloads Last 30 Days',
'Estimated Revenue Range',
'Number of Funding Rounds',
'Funding Status',
'Last Funding Amount',
'Last Funding Amount Currency',
'Last Funding Amount Currency (in USD)',
'Last Funding Type',
'Last Equity Funding Amount',
'Last Equity Funding Amount Currency',
'Last Equity Funding Amount Currency (in USD)',
'Last Equity Funding Type',
'Total Equity Funding Amount',
'Total Equity Funding Amount Currency',
'Total Equity Funding Amount Currency (in USD)',
'Total Funding Amount',
'Total Funding Amount Currency',
'Total Funding Amount Currency (in USD)',
'Number of Portfolio Organizations',
'Number of Investments',
'Number of Lead Investments',
'Number of Diversity Investments',
'Number of Lead Investors',
'Number of Investors']

In [164]:
CI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64075 entries, 0 to 64074
Data columns (total 50 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Organization Name                              64075 non-null  object
 1   Organization Name URL                          64075 non-null  object
 2   Founded Date                                   64075 non-null  object
 3   Founded Date Precision                         64075 non-null  object
 4   C_Announced Date                               49708 non-null  object
 5   C_Announced Date Precision                     49708 non-null  object
 6   Acquired by                                    49708 non-null  object
 7   Acquired by URL                                49708 non-null  object
 8   Industry Groups                                63425 non-null  object
 9   Industries                                     63425 non-null  object
 10  Headquarters Location                          61940 non-null  object
 11  Headquarters Regions                           51612 non-null  object
 12  Number of Founders                             30142 non-null  float64
 13  Number of Employees                            53032 non-null  object
 14  Number of Articles                             34051 non-null  float64
 15  Average Visits (6 months)                      18361 non-null  float64
 16  Visit Duration                                 25851 non-null  float64
 17  Page Views / Visit                             25851 non-null  float64
 18  Active Tech Count                              54930 non-null  float64
 19  Patents Granted                                18962 non-null  float64
 20  Trademarks Registered                          18962 non-null  float64
 21  Total Products Active                          34177 non-null  float64
 22  IT Spend                                       9064 non-null   float64
 23  IT Spend Currency                              9249 non-null   object
 24  IT Spend Currency (in USD)                     9064 non-null   float64
 25  Number of Apps                                 7943 non-null   float64
 26  Downloads Last 30 Days                         3407 non-null   float64
 27  Estimated Revenue Range                        22254 non-null  object
 28  Number of Funding Rounds                       25300 non-null  float64
 29  Funding Status                                 56066 non-null  object
 30  Last Funding Amount                            18040 non-null  float64
 31  Last Funding Amount Currency                   18040 non-null  object
 32  Last Funding Amount Currency (in USD)          18040 non-null  float64
 33  Last Funding Type                              25300 non-null  object
 34  Last Equity Funding Amount                     17515 non-null  float64
 35  Last Equity Funding Amount Currency            17515 non-null  object
 36  Last Equity Funding Amount Currency (in USD)   17515 non-null  float64
 37  Last Equity Funding Type                       24304 non-null  object
 38  Total Equity Funding Amount                    19463 non-null  float64
 39  Total Equity Funding Amount Currency           19463 non-null  object
 40  Total Equity Funding Amount Currency (in USD)  19463 non-null  float64
 41  Total Funding Amount                           20377 non-null  float64
 42  Total Funding Amount Currency                  20377 non-null  object
 43  Total Funding Amount Currency (in USD)         20377 non-null  float64
 44  Number of Portfolio Organizations              2172 non-null   float64
 45  Number of Investments                          2172 non-null   float64
 46  Number of Lead Investments                     1234 non-null   float64
 47  Number of Diversity Investments                326 non-null    float64
 48  Number of Lead Investors                       15660 non-null  float64
 49  Number of Investors                            22376 non-null  float64
dtypes: float64(28), object(22)
memory usage: 24.4+ MB

In [165]:
CI2 = CI.loc[:, ['Organization Name',
'Founded Date',
'C_Announced Date',
'Acquired by',
'Industry Groups',
'Industries',
'Headquarters Location',
'Headquarters Regions',
'Number of Founders',
'Number of Employees',
'Number of Articles',
'Average Visits (6 months)',
'Visit Duration',
'Page Views / Visit',
'Active Tech Count',
'Patents Granted',
'Trademarks Registered',
'Total Products Active',
'IT Spend Currency (in USD)',
'Number of Apps',
'Downloads Last 30 Days',
'Estimated Revenue Range',
'Number of Funding Rounds', 
'Funding Status',
'Last Funding Amount Currency (in USD)',
'Last Funding Type',
'Last Equity Funding Amount Currency (in USD)',
'Last Equity Funding Type',
'Total Equity Funding Amount Currency (in USD)',
'Total Funding Amount Currency (in USD)',
'Number of Portfolio Organizations',
'Number of Investments',
'Number of Lead Investments',
'Number of Diversity Investments',
'Number of Lead Investors',
'Number of Investors']]

In [166]:
#CI2.isna().sum()

In [167]:
# 설립년도 년도만 짜르기
year_F = []
for i in CI2['Founded Date']:
    new = i.split('-')[0]
    year_F.append(int(new))

CI2['Founded Date'] = year_F

In [172]:
#거래년도 년도만 짜르기
year_CA = []
for i in CI2['C_Announced Date']:
    new = str(i).split('-')[0]
    if new == 'nan':
        year_CA.append(np.nan)
    else:
        year_CA.append(int(new))

CI2['C_Announced Date'] = year_CA

In [173]:
CI2['C_Announced Date'].describe()

count    49708.000000
mean      2015.851372
std          4.074319
min       1919.000000
25%       2014.000000
50%       2017.000000
75%       2019.000000
max       2021.000000
Name: C_Announced Date, dtype: float64

In [174]:
#직원수 날짜 형식 -> str
CI2['Number of Employees'] = CI2['Number of Employees'].replace('01월 10일', '01-10')

In [156]:
#CI2['Number of Employees']

In [177]:
CI2['C_Announced Date'].isnull().sum()

14367

In [141]:
CI2.to_excel('..\\data\\raw\\CompanyInfoPreprocessed.xlsx', encoding='utf-8', index=False)