In [1]:
import pandas as pd

In [68]:
MA = pd.read_csv('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\M&ARecords.csv')

In [69]:
MA.describe()

,Announced Date,Announced Date Precision,Transaction Name,Transaction Name URL,Acquiree Name,Acquiree Name URL,Acquirer Name,Acquirer Name URL
count,23622,23622,23622,23622,23622,23622,23622,23622
unique,3216,2,23622,23622,23089,23146,13939,13973
top,2014-01-01,day,LiquidM acquired by Ligatus,https://www.crunchbase.com/acquisition/3bl-med...,Groupon Indonesia,https://www.crunchbase.com/organization/groupo...,Facebook,https://www.crunchbase.com/organization/facebook
freq,45,22854,1,1,4,4,77,77

In [78]:
MA.columns

Index(['Announced Date', 'Announced Date Precision', 'Transaction Name',
       'Transaction Name URL', 'Acquiree Name', 'Acquiree Name URL',
       'Acquirer Name', 'Acquirer Name URL'],
      dtype='object')

In [71]:
MA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23622 entries, 0 to 23621
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Announced Date            23622 non-null  object
 1   Announced Date Precision  23622 non-null  object
 2   Transaction Name          23622 non-null  object
 3   Transaction Name URL      23622 non-null  object
 4   Acquiree Name             23622 non-null  object
 5   Acquiree Name URL         23622 non-null  object
 6   Acquirer Name             23622 non-null  object
 7   Acquirer Name URL         23622 non-null  object
dtypes: object(8)
memory usage: 1.4+ MB

In [72]:
year = []
for i in MA['Announced Date']:
    new = i.split('-')[0]
    year.append(new)

In [73]:
MA['Announced Date'] = year

In [75]:
df = MA.loc[:, ['Announced Date', 'Transaction Name', 'Acquiree Name', 'Acquirer Name']]

In [76]:
df.to_csv('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\M&APreprocessed.csv', encoding='utf-8', index=False)