In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data3 = pd.read_excel('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\data3.xlsx')

In [4]:
data3.shape

(16785, 35)

In [5]:
data3.columns

Index(['Announced Date', 'EE_Organization Name', 'EE_Founded Date',
       'EE_Industry Groups', 'EE_Industries', 'EE_Headquarters Location',
       'EE_Number of Founders', 'EE_Number of Employees',
       'EE_Number of Articles', 'EE_Active Tech Count', 'EE_Patents Granted',
       'EE_Trademarks Registered', 'EE_Total Products Active',
       'EE_IT Spend Currency (in USD)', 'EE_Estimated Revenue Range',
       'EE_Number of Funding Rounds',
       'EE_Total Funding Amount Currency (in USD)', 'EE_Number of Investors',
       'ER_Organization Name', 'ER_Founded Date', 'ER_Industry Groups',
       'ER_Industries', 'ER_Headquarters Location', 'ER_Number of Founders',
       'ER_Number of Employees', 'ER_Number of Articles',
       'ER_Active Tech Count', 'ER_Patents Granted',
       'ER_Trademarks Registered', 'ER_Total Products Active',
       'ER_IT Spend Currency (in USD)', 'ER_Estimated Revenue Range',
       'ER_Number of Funding Rounds',
       'ER_Total Funding Amount Currency (in USD)', 'ER_Number of Investors'],
      dtype='object')

In [6]:
# 기업 나이 구하기
data3['EE_Age'] = data3['Announced Date']-data3['EE_Founded Date']
data3['ER_Age'] = data3['Announced Date']-data3['ER_Founded Date']

In [7]:
#직원 수 중앙 값으로 변경
#피인수
data3['EE_Number of Employees'].replace('01-10', 5, inplace=True)
data3['EE_Number of Employees'].replace('11-50', 30, inplace=True)
data3['EE_Number of Employees'].replace('51-100', 75, inplace=True)
data3['EE_Number of Employees'].replace('101-250', 175, inplace=True)
data3['EE_Number of Employees'].replace('251-500', 375, inplace=True)
data3['EE_Number of Employees'].replace('501-1000', 750, inplace=True)
data3['EE_Number of Employees'].replace('1001-5000', 3000, inplace=True)
data3['EE_Number of Employees'].replace('5001-10000', 7500, inplace=True)
data3['EE_Number of Employees'].replace('10001+', 10000, inplace=True)
#인수
data3['ER_Number of Employees'].replace('01-10', 5, inplace=True)
data3['ER_Number of Employees'].replace('11-50', 30, inplace=True)
data3['ER_Number of Employees'].replace('51-100', 75, inplace=True)
data3['ER_Number of Employees'].replace('101-250', 175, inplace=True)
data3['ER_Number of Employees'].replace('251-500', 375, inplace=True)
data3['ER_Number of Employees'].replace('501-1000', 750, inplace=True)
data3['ER_Number of Employees'].replace('1001-5000', 3000, inplace=True)
data3['ER_Number of Employees'].replace('5001-10000', 7500, inplace=True)
data3['ER_Number of Employees'].replace('10001+', 10000, inplace=True)

In [8]:
# 수익 중앙 값으로 변경
# 피인수
data3['EE_Estimated Revenue Range'].replace('Less than $1M', 1, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$1M to $10M', 5, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$10M to $50M', 25, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$50M to $100M', 75, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$100M to $500M', 300, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$500M to $1B', 750, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$1B to $10B', 5000, inplace=True)
data3['EE_Estimated Revenue Range'].replace('$10B+', 10000, inplace=True)
# 인수
data3['ER_Estimated Revenue Range'].replace('Less than $1M', 1, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$1M to $10M', 5, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$10M to $50M', 25, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$50M to $100M', 75, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$100M to $500M', 300, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$500M to $1B', 750, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$1B to $10B', 5000, inplace=True)
data3['ER_Estimated Revenue Range'].replace('$10B+', 10000, inplace=True)

In [9]:
# Industry Groups Similarity 구하기
ee_grp = []
for i in data3['EE_Industry Groups']:
    new = i.split(", ")
    ee_grp.append(new)

er_grp = []
for i in data3['ER_Industry Groups']:
    new = i.split(", ")
    er_grp.append(new)

grp_similarity = []
for i in range(len(ee_grp)):
    intersection = list(set(ee_grp[i]) & set(er_grp[i]))
    union = list(set().union(ee_grp[i], er_grp[i]))
    sim = len(intersection) / len(union)
    grp_similarity.append(sim)
    
data3['Industry Groups Similarity'] = grp_similarity

In [10]:
# Industries Similarity 구하기
ee_ind = []
for i in data3['EE_Industries']:
    new = i.split(", ")
    ee_ind.append(new)

er_ind = []
for i in data3['ER_Industries']:
    new = i.split(", ")
    er_ind.append(new)

ind_similarity = []
for i in range(len(ee_ind)):
    intersection = list(set(ee_ind[i]) & set(er_ind[i]))
    union = list(set().union(ee_ind[i], er_ind[i]))
    sim = len(intersection) / len(union)
    ind_similarity.append(sim)
    
data3['Industries Similarity'] = ind_similarity

In [11]:
# Location Similarity 구하기
ee_loc = []
for i in data3['EE_Headquarters Location']:
    new = i.split(", ")
    ee_loc.append(new)

er_loc = []
for i in data3['ER_Headquarters Location']:
    new = i.split(", ")
    er_loc.append(new)

loc_similarity = []
for i in range(len(ee_loc)):
    intersection = list(set(ee_loc[i]) & set(er_loc[i]))
    union = list(set().union(ee_loc[i], er_loc[i]))
    sim = len(intersection) / len(union)
    loc_similarity.append(sim)
    
data3['Location Similarity'] = loc_similarity

In [17]:
using_columns = ['Announced Date', 'Industry Groups Similarity', 'Industries Similarity', 'Location Similarity', 
                 'EE_Organization Name', 'EE_Founded Date', 'EE_Age', 'EE_Industry Groups', 'EE_Industries', 'EE_Headquarters Location', 'EE_Number of Founders', 'EE_Number of Employees', 'EE_Number of Articles', 'EE_Active Tech Count', 'EE_Patents Granted', 'EE_Trademarks Registered', 'EE_Total Products Active', 'EE_IT Spend Currency (in USD)', 'EE_Estimated Revenue Range', 'EE_Number of Funding Rounds', 'EE_Total Funding Amount Currency (in USD)', 'EE_Number of Investors', 
                 'ER_Organization Name', 'ER_Founded Date', 'ER_Age', 'ER_Industry Groups', 'ER_Industries', 'ER_Headquarters Location', 'ER_Number of Founders', 'ER_Number of Employees', 'ER_Number of Articles', 'ER_Active Tech Count', 'ER_Patents Granted', 'ER_Trademarks Registered', 'ER_Total Products Active', 'ER_IT Spend Currency (in USD)', 'ER_Estimated Revenue Range', 'ER_Number of Funding Rounds', 'ER_Total Funding Amount Currency (in USD)', 'ER_Number of Investors']

In [18]:
data8 = data3[using_columns]

In [19]:
data8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16785 entries, 0 to 16784
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Announced Date                             16785 non-null  int64
 1   Industry Groups Similarity                 16785 non-null  float64
 2   Industries Similarity                      16785 non-null  float64
 3   Location Similarity                        16785 non-null  float64
 4   EE_Organization Name                       16785 non-null  object
 5   EE_Founded Date                            16785 non-null  int64
 6   EE_Age                                     16785 non-null  int64
 7   EE_Industry Groups                         16785 non-null  object
 8   EE_Industries                              16785 non-null  object
 9   EE_Headquarters Location                   16785 non-null  object
 10  EE_Number of Founders                      10406 non-null  float64
 11  EE_Number of Employees                     16785 non-null  int64
 12  EE_Number of Articles                      10306 non-null  float64
 13  EE_Active Tech Count                       15270 non-null  float64
 14  EE_Patents Granted                         4658 non-null   float64
 15  EE_Trademarks Registered                   4658 non-null   float64
 16  EE_Total Products Active                   10505 non-null  float64
 17  EE_IT Spend Currency (in USD)              1730 non-null   float64
 18  EE_Estimated Revenue Range                 6039 non-null   float64
 19  EE_Number of Funding Rounds                8103 non-null   float64
 20  EE_Total Funding Amount Currency (in USD)  6427 non-null   float64
 21  EE_Number of Investors                     7148 non-null   float64
 22  ER_Organization Name                       16785 non-null  object
 23  ER_Founded Date                            16785 non-null  int64
 24  ER_Age                                     16785 non-null  int64
 25  ER_Industry Groups                         16785 non-null  object
 26  ER_Industries                              16785 non-null  object
 27  ER_Headquarters Location                   16785 non-null  object
 28  ER_Number of Founders                      12468 non-null  float64
 29  ER_Number of Employees                     16785 non-null  int64
 30  ER_Number of Articles                      14404 non-null  float64
 31  ER_Active Tech Count                       16024 non-null  float64
 32  ER_Patents Granted                         9664 non-null   float64
 33  ER_Trademarks Registered                   9664 non-null   float64
 34  ER_Total Products Active                   13206 non-null  float64
 35  ER_IT Spend Currency (in USD)              5733 non-null   float64
 36  ER_Estimated Revenue Range                 12437 non-null  float64
 37  ER_Number of Funding Rounds                11370 non-null  float64
 38  ER_Total Funding Amount Currency (in USD)  9956 non-null   float64
 39  ER_Number of Investors                     10339 non-null  float64
dtypes: float64(25), int64(7), object(8)
memory usage: 5.1+ MB

In [20]:
data8.to_excel('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\data8.xlsx', index=False)

In [29]:
nt_data = pd.read_excel('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\data8_re.xlsx')

In [30]:
nt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16696 entries, 0 to 16695
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Announced Date                             16696 non-null  int64
 1   Industry Groups Similarity                 16696 non-null  float64
 2   Industries Similarity                      16696 non-null  float64
 3   Location Similarity                        16696 non-null  float64
 4   EE_Organization Name                       16696 non-null  object
 5   EE_Founded Date                            16696 non-null  int64
 6   EE_Age                                     16696 non-null  int64
 7   EE_Industry Groups                         16696 non-null  object
 8   EE_Industries                              16696 non-null  object
 9   EE_Headquarters Location                   16696 non-null  object
 10  EE_Number of Founders                      10343 non-null  float64
 11  EE_Number of Employees                     16696 non-null  int64
 12  EE_Number of Articles                      10255 non-null  float64
 13  EE_Active Tech Count                       15188 non-null  float64
 14  EE_Patents Granted                         4641 non-null   float64
 15  EE_Trademarks Registered                   4641 non-null   float64
 16  EE_Total Products Active                   10448 non-null  float64
 17  EE_IT Spend Currency (in USD)              1723 non-null   float64
 18  EE_Estimated Revenue Range                 6019 non-null   float64
 19  EE_Number of Funding Rounds                8058 non-null   float64
 20  EE_Total Funding Amount Currency (in USD)  6391 non-null   float64
 21  EE_Number of Investors                     7112 non-null   float64
 22  ER_Organization Name                       16696 non-null  object
 23  ER_Founded Date                            16696 non-null  int64
 24  ER_Age                                     16696 non-null  int64
 25  ER_Industry Groups                         16696 non-null  object
 26  ER_Industries                              16696 non-null  object
 27  ER_Headquarters Location                   16696 non-null  object
 28  ER_Number of Founders                      12404 non-null  float64
 29  ER_Number of Employees                     16696 non-null  int64
 30  ER_Number of Articles                      14336 non-null  float64
 31  ER_Active Tech Count                       15945 non-null  float64
 32  ER_Patents Granted                         9624 non-null   float64
 33  ER_Trademarks Registered                   9624 non-null   float64
 34  ER_Total Products Active                   13156 non-null  float64
 35  ER_IT Spend Currency (in USD)              5724 non-null   float64
 36  ER_Estimated Revenue Range                 12395 non-null  float64
 37  ER_Number of Funding Rounds                11320 non-null  float64
 38  ER_Total Funding Amount Currency (in USD)  9912 non-null   float64
 39  ER_Number of Investors                     10303 non-null  float64
dtypes: float64(25), int64(7), object(8)
memory usage: 5.1+ MB

In [31]:
data9 = nt_data.dropna(thresh = 29)

In [32]:
data9.shape

(11070, 40)

In [33]:
# 설립자 수 결측치 1로 대체
data9['EE_Number of Founders'].fillna(1, inplace=True)
data9['ER_Number of Founders'].fillna(1, inplace=True)
# 기사 언급 수 결측치 0으로 대체
data9['EE_Number of Articles'].fillna(0, inplace=True)
data9['ER_Number of Articles'].fillna(0, inplace=True)
# Active Tech Count, Total Products Active, Patents Granted, Trademarks Registered 결측치 0으로 대체
data9['EE_Active Tech Count'].fillna(0, inplace=True)
data9['ER_Active Tech Count'].fillna(0, inplace=True)
data9['EE_Total Products Active'].fillna(0, inplace=True)
data9['ER_Total Products Active'].fillna(0, inplace=True)
data9['EE_Patents Granted'].fillna(0, inplace=True)
data9['ER_Patents Granted'].fillna(0, inplace=True)
data9['EE_Trademarks Registered'].fillna(0, inplace=True)
data9['ER_Trademarks Registered'].fillna(0, inplace=True)
# IT Spend Currency (in USD) 결측치 0으로 대체
data9['EE_IT Spend Currency (in USD)'].fillna(0, inplace=True)
data9['ER_IT Spend Currency (in USD)'].fillna(0, inplace=True)
# Estimated Revenue Range 결측치 0으로 대체
data9['EE_Estimated Revenue Range'].fillna(0, inplace=True)
data9['ER_Estimated Revenue Range'].fillna(0, inplace=True)
# Number of Funding Rounds 결측치 0으로 대체
data9['EE_Number of Funding Rounds'].fillna(0, inplace=True)
data9['ER_Number of Funding Rounds'].fillna(0, inplace=True)
# Total Funding Amount Currency (in USD) 결측치 0으로 대체
data9['EE_Total Funding Amount Currency (in USD)'].fillna(0, inplace=True)
data9['ER_Total Funding Amount Currency (in USD)'].fillna(0, inplace=True)
# Number of Investors 결측치 0으로 대체
data9['EE_Number of Investors'].fillna(0, inplace=True)
data9['ER_Number of Investors'].fillna(0, inplace=True)

In [34]:
data9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11070 entries, 0 to 16694
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Announced Date                             11070 non-null  int64
 1   Industry Groups Similarity                 11070 non-null  float64
 2   Industries Similarity                      11070 non-null  float64
 3   Location Similarity                        11070 non-null  float64
 4   EE_Organization Name                       11070 non-null  object
 5   EE_Founded Date                            11070 non-null  int64
 6   EE_Age                                     11070 non-null  int64
 7   EE_Industry Groups                         11070 non-null  object
 8   EE_Industries                              11070 non-null  object
 9   EE_Headquarters Location                   11070 non-null  object
 10  EE_Number of Founders                      11070 non-null  float64
 11  EE_Number of Employees                     11070 non-null  int64
 12  EE_Number of Articles                      11070 non-null  float64
 13  EE_Active Tech Count                       11070 non-null  float64
 14  EE_Patents Granted                         11070 non-null  float64
 15  EE_Trademarks Registered                   11070 non-null  float64
 16  EE_Total Products Active                   11070 non-null  float64
 17  EE_IT Spend Currency (in USD)              11070 non-null  float64
 18  EE_Estimated Revenue Range                 11070 non-null  float64
 19  EE_Number of Funding Rounds                11070 non-null  float64
 20  EE_Total Funding Amount Currency (in USD)  11070 non-null  float64
 21  EE_Number of Investors                     11070 non-null  float64
 22  ER_Organization Name                       11070 non-null  object
 23  ER_Founded Date                            11070 non-null  int64
 24  ER_Age                                     11070 non-null  int64
 25  ER_Industry Groups                         11070 non-null  object
 26  ER_Industries                              11070 non-null  object
 27  ER_Headquarters Location                   11070 non-null  object
 28  ER_Number of Founders                      11070 non-null  float64
 29  ER_Number of Employees                     11070 non-null  int64
 30  ER_Number of Articles                      11070 non-null  float64
 31  ER_Active Tech Count                       11070 non-null  float64
 32  ER_Patents Granted                         11070 non-null  float64
 33  ER_Trademarks Registered                   11070 non-null  float64
 34  ER_Total Products Active                   11070 non-null  float64
 35  ER_IT Spend Currency (in USD)              11070 non-null  float64
 36  ER_Estimated Revenue Range                 11070 non-null  float64
 37  ER_Number of Funding Rounds                11070 non-null  float64
 38  ER_Total Funding Amount Currency (in USD)  11070 non-null  float64
 39  ER_Number of Investors                     11070 non-null  float64
dtypes: float64(25), int64(7), object(8)
memory usage: 3.5+ MB

In [35]:
data9.to_excel('C:\\Users\\yebin\\OneDrive\\바탕 화면\\세미나\\new\\data\\data9.xlsx', index=False)